<div class="Card">
    <div class="Card-title">
        <a class="Card-link" href="{{ link }}">{{ title }}</a>
    </div>

    <div class="Card-text">{{ primary_text }}</div>

    <div class="Card-text">{{ secondary_text }}</div>

    <a class="Card-link" href="{{ link }}">
        <img class="Card-image" src="{{ image_src }}">
    </a>
</div>
