<a class="group block max-w-md border-1 border-teal-darkest bg-teal-lightest hover:border-orange hover:bg-orange-lightest no-underline" href="{{ link }}">
  <div class="flex justify-between items-center p-3 border-b-1 border-teal-darkest bg-teal-darkest text-white font-bold text-2xl leading-tight group-hover:border-orange group-hover:bg-orange">
    <span>{{ title }}</span>

    <span class="ml-2" data-pictogram="∑"></span>
  </div>

  <div class="flex items-center px-3 py-2 border-b-1 border-teal-darkest small-caps group-hover:border-orange">
    {% if primary_pictogram %}
      <span class="mr-2 group-hover:text-orange" data-pictogram="{{ primary_pictogram }}"></span>
    {% endif %}

    <span class="group-hover:text-orange">{{ primary_text }}</span>
  </div>

  <div class="wysiwyg p-3 bg-white group-hover:bg-orange-lightest group-hover:text-orange">
    {{ content }}
  </div>

  {% if image_src %}
    <img class="block w-full object-cover border-t-1 border-teal-darkest group-hover:border-orange" src="{{ image_src }}" height="320" alt="">
  {% endif %}
</a>
