<div class="border-1 border-teal-darkest">
    <div class="flex justify-between items-center p-3 border-b-1 border-teal-darkest bg-orange text-white font-bold text-2xl leading-tight">
      <span>{{ title }}</span>

      <span class="ml-2" data-pictogram="∑"></span>
    </div>

    <div class="flex items-center px-3 py-2 border-b-1 border-teal-darkest bg-teal-darkest text-white small-caps">
      {% if primary_pictogram %}
        <span class="mr-2" data-pictogram="{{ primary_pictogram }}"></span>
      {% endif %}

      <span>{{ primary_text }}</span>
    </div>

    {% if image_src %}
      <div class="w-1/2 h-1/2 float-right">
        <div class="relative aspect-ratio-square -mt-5.5">
          <div class="absolute pin m-4">
            <img class="block w-full h-full object-cover border-1 border-orange rounded-full bg-orange-lightest" src="{{ image_src }}" height="320" alt="">
          </div>
        </div>
      </div>
    {% endif %}

    <div class="wysiwyg p-3 text-orange">
      {{ content }}
    </div>
</div>
