<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="{{ site.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{ site.description }}">
        <title>{% include "partials/html-title.twig" %}</title>
        <link rel="pingback" href="{{ site.pingback_url }}"/>
        {{function("wp_head")}}
    </head>

    <body class="{{body_class}}" data-template="base.twig">
        <header class="header">
            {% block header %}
                <div class="wrapper">
                    <h1 class="hdr-logo">
                        <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
                    </h1>

                    {% include "partials/nav.twig" %}
                </div>
            {% endblock %}
        </header>

        <section class="content-wrapper">
            {% if title %}
                <h1>{{title}}</h1>
            {% endif %}

            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>

            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        {% block footer %}
            <footer id="footer">
                {% include "partials/footer.twig" %}
            </footer>
        {% endblock %}

        {{function("wp_footer")}}
    </body>
</html>
