{% extends "base.twig" %}

{% block content %}
    <section class="HomePage Section">
        <header class="HomePage-header Section-container">
            <div class="HomePage-headerContent">

                {% if post.get_field("home_page_tagline") %}
                    <div class="HomePage-tagline">
                        <div class="HeroBlock">
                            <h1 class="Block Block--dark">{{ post.get_field("home_page_tagline") }}</h1>
                        </div>
                    </div>
                {% endif %}

                {% if post.get_field("home_page_links") %}
                    <ul class="HomePage-listOfLinks">
                        {% for item in post.get_field("home_page_links") %}
                            {% set link_href = "#" %}
                            {% if item.link_to_page %}
                                {% set link_href = item.link_to_page %}
                            {% elseif item.link_url %}
                                {% set link_href = item.link_url %}
                            {% endif %}
                            <li class="HomePage-listOfLinksItem">
                                <a class="Block Block--light" href="{{ link_href }}">{{ item.link_label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </header>
    </section>

    {% if post.get_field("home_page_news_stories") %}
        <section class="HomePage-news Section">
            <div class="Section-container">
                <h2 class="HomePage-newsSectionTitle Section-title">Latest News</h2>

                <ul class="HomePage-newsItems">
                    {% for post in post.get_field("home_page_news_stories") %}
                        <li class="HomePage-newsItem">
                            <span class="HomePage-newsItemTitle">
                                <a class="HomePage-newsItemLink" href="{{ post.link }}">
                                    {{ post.title }}<br>
                                </a>
                            </span>

                            <span class="HomePage-newsItemMetadata">
                                {{ post.date }}
                                {% if post.author.first_name or post.author.last_name %}
                                    •
                                    {{ post.author.first_name }}
                                    {{ post.author.last_name }}
                                {% endif %}
                                {% if post.terms("news-categories") %}
                                    •
                                    {{ post.terms("news-categories")|join(", ") }}
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>

                <p class="HomePage-newsMore">
                    <a class="Block Block--inverted" href="{{ site.link }}/news/">View more news</a>
                </p>
            </div>
        </section>
    {% endif %}

    <section class="Section Section--large">
        <div class="Section-container">
            {% if post.get_field("home_page_about_text") %}
                <h2 class="Section-title Section-title--orange">About
                    {{ site.title }}</h2>

                <div class="max-w-md">{{ post.get_field("home_page_about_text") }}</div>
            {% endif %}

            <nav class="HomePage-nav">
                <ul class="HomePage-navList">
                    <li>
                        <a href="">View our locations</a>
                    </li>
                    <li>
                        <a href="">Check out the tools</a>
                    </li>
                    <li>
                        <a href="">See our events</a>
                    </li>
                    <li>
                        <a href="">Read about badging</a>
                    </li>
                </ul>
            </nav>
        </div>

        {% if events %}
            <div class="Section-container">
                <h2 class="Section-title Section-title--orange">Today’s Events</h2>

                <div class="max-w-md">What are you doing today?</div>

                <ul class="HomePage-events">
                    {% for event in events %}
                        <li class="HomePage-event">
                            {% set event_date = event.event_start | date("F j, Y • g:ia") ~ "–" %}

                            {% if event.event_start | date("F j, Y") == event.event_end | date("F j, Y") %}
                                {% set event_date = event_date ~ event.event_end | date("g:ia") %}
                            {% else %}
                                {% set event_date = event_date ~ event.event_end | date("F j, Y • g:ia") %}
                            {% endif %}

                            {% include "partials/card.twig" with {
                                title : event.event_name,
                                link: event.link,
                                primary_text: event_date,
                                secondary_text: event.location_name,
                                image_src: TimberImage(event.get_field('event_image')).src('large')
                            }
                            only %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
