{% extends "page.twig" %}

{% block page_content %}
  {% if pathways_badges or post.get_field("pathways_badge_overview") %}
    {% embed "partials/section.twig" %}
      {% block title %}
        Pathways Badges
      {% endblock %}

      {% block text %}
        {{ pathways_badge_type.description }}
        {{ post.get_field("pathways_badge_overview") }}
      {% endblock %}

      {% block extra %}
        {% include "partials/list-of-badges.twig" with {
          badges: pathways_badges
        } only %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% if machine_badges or post.get_field("machine_badges_overview") %}
    {% embed "partials/section.twig" %}
      {% block title %}
        Machine Badges
      {% endblock %}

      {% block text %}
        {{ machine_badge_type.description }}
        {{ post.get_field("machine_badges_overview") }}
      {% endblock %}

      {% block extra %}
        {% include "partials/list-of-badges.twig" with {
          size: "small",
          badges: machine_badges
        } only %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Interested in Learning More?
    {% endblock %}

    {% block text %}
      <div class="mb-3">
        Visit your local library to speak to a staff member and start building towards your Novice Badge.
      </div>

      <a class="Block Block--light" href="{{ site.link }}/locations/">See our locations!</a>
    {% endblock %}
  {% endembed %}
{% endblock %}
