{% extends "page.twig" %}

{% block page_content %}
  {% embed "partials/section.twig" %}
    {% block title %}
      Library Contacts
    {% endblock %}

    {% block text %}
      <div class="flex flex-wrap -m-4">
        {% for location in locations %}
          <div class="w-full md:flex-1 m-4">
            <div class="mb-3">
              {% include "components/subheadline.twig" with {
                text: location.post_title
              } only %}
            </div>

            {% if location.get_field("fab_newport_staff_contact_type") == "write-in" %}
              {% set contact = {
                name: location.get_field("fab_newport_staff_contact_name"),
                email_address: location.get_field("fab_newport_staff_contact_email"),
                phone_number: location.get_field("fab_newport_staff_contact_phone_number")
              } %}
            {% elseif location.get_field("fab_newport_staff_contact_type") == "from-site" %}
              {% set contact_post = location.get_field("fab_newport_staff_contact")[0] %}
              {% set contact = {
                name: contact_post.post_title,
                email_address: contact_post.email_address,
                phone_number: contact_post.phone_number
              } %}
            {% endif %}

            <div class="mb-4">
              <div class="font-bold">{{ contact.name }}</div>

              {% if contact.email_address %}
                <a href="mailto: {{ contact.email_address }}">
                  {{ contact.email_address }}
                </a>
              {% endif %}

              {% if contact.phone_number %}
                <div>{{ contact.phone_number }}</div>
              {% endif %}
            </div>

            {% if location.get_field("library_staff_contact_type") == "write-in" %}
              {% set contact = {
                name: location.get_field("library_staff_contact_name"),
                email_address: location.get_field("library_staff_contact_email"),
                phone_number: location.get_field("library_staff_contact_phone_number")
              } %}
            {% elseif location.get_field("library_staff_contact_type") == "from-site" %}
              {% set contact_post = location.get_field("library_staff_contact")[0] %}
              {% set contact = {
                name: contact_post.post_title,
                email_address: contact_post.email_address,
                phone_number: contact_post.phone_number
              } %}
            {% endif %}

            <div>
              <div class="font-bold">{{ contact.name }}</div>

              {% if contact.email_address %}
                <a href="mailto: {{ contact.email_address }}">
                  {{ contact.email_address }}
                </a>
              {% endif %}

              {% if contact.phone_number %}
                <div>{{ contact.phone_number }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      General Contacts
    {% endblock %}

    {% block text %}
      {% for item in post.get_field("contacts") %}
        <div>
          <div class="mb-3">
            {% include "components/subheadline.twig" with {
              text: item.kind_of_contact
            } only %}
          </div>

          {% if item.contact_type == "write-in" %}
            {% set contact = {
              name: item.contact_name,
              email_address: item.contact_email,
              phone_number: item.contact_phone_number
            } %}
          {% elseif item.contact_type == "from-site" %}
            {% set contact_post = item.contact[0] %}
            {% set contact = {
              name: contact_post.post_title,
              email_address: contact_post.email_address,
              phone_number: contact_post.phone_number
            } %}
          {% endif %}

          <div class="font-bold">{{ contact.name }}</div>

          {% if contact.email_address %}
            <a href="mailto: {{ contact.email_address }}">
              {{ contact.email_address }}
            </a>
          {% endif %}

          {% if contact.phone_number %}
            <div>{{ contact.phone_number }}</div>
          {% endif %}
        </div>
      {% endfor %}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Contact Form
    {% endblock %}

    {% block text %}
      {{ function("gravity_form", "Contact Form") }}
    {% endblock %}
  {% endembed %}
{% endblock %}
