{% extends "page.twig" %}

{% block page_content %}
  {% if machines %}
    {% embed "partials/section.twig" %}
      {% block title %}
        Our Tools
      {% endblock %}

      {% block text %}
        {{ machines_tool_type.description }}
        {{ post.get_field("machines_introductory_text") }}
      {% endblock %}

      {% block extra %}
        {% include "partials/list-of-tools.twig" with { tools: machines } %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% if materials %}
    {% embed "partials/section.twig" %}
      {% block title %}
        Our Materials
      {% endblock %}

      {% block text %}
        {{ materials_tool_type.description }}
        {{ post.get_field("materials_introductory_text") }}
      {% endblock %}

      {% block extra %}
        {% include "partials/list-of-tools.twig" with { tools: materials } %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% if map_options %}
    <div class="map-container">
      <script>
      var locationsMapOptions = {
        map: {},
        data: {{ map_options.data|json_encode() }},
        render: {},
      };
      </script>
      <div id="locations-map" class="ws-map w-full h-screen" data-options="locationsMapOptions"></div>
    </div>
  {% endif %}
{% endblock %}
