{% extends "page.twig" %}

{% block page_content %}
  {% embed "partials/section.twig" %}
    {% block title %}
      Our Philosophy
    {% endblock %}

    {% block text %}
      {{ post.get_field("philosophy_section_text") }}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" with {
    section_classes: "py-3 bg-teal-lightest"
  } %}
    {% block title %}
      Projects by Young Makers
    {% endblock %}

    {% block text %}
      <div class="mb-4">
        {{ post.get_field("tools_description") }}
      </div>
    {% endblock %}

    {% block extra %}
      <div class="flex flex-wrap -m-2">
        {% for project in post.get_field("projects") %}
          <div class="w-full md:flex-1 m-2">
            {% include "partials/card-project.twig" with {
              title: project.project_name,
              link: project.project_link,
              text: project.project_summary,
              image_src: TimberImage(project.project_image).src("large")
            } only %}
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}
  </div>

  {% embed "partials/section.twig" %}
    {% block title %}
      Our Tools
    {% endblock %}

    {% block text %}
      <div class="mb-4">
        {{ post.get_field("tools_description") }}
      </div>

      <a class="Block Block--light" href="{{ site.link }}/tools/">
        See all of our tools
      </a>
    {% endblock %}

    {% block extra %}
      {% include "partials/list-of-tools.twig" %}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Badging
    {% endblock %}

    {% block text %}
      <div class="mb-4">
        {{ post.get_field("badging_description") }}
      </div>

      <a class="Block Block--light" href="{{ site.link }}/badges/">
        Read more about badging
      </a>
    {% endblock %}
  {% endembed %}

  {% if map_options %}
    <div class="map-container relative">
      <div class="absolute z-10 container">
        <div class="mt-4 mb-3 p-3 bg-white border-1 border-teal-darkest">
          {% include "components/headline.twig" with { text: "Our Locations" } %}

          <p class="max-w-md mt-3 text-lg">
            PVD Young Makers has locations in all 10 Libraries around the City of Providence.
          </p>
        </div>

        <a class="Block Block--light" href="{{ site.link }}/locations/">View all of our locations</a>
      </div>

      <script>
      var locationsMapOptions = {
        map: {},
        data: {{ map_options.data|json_encode() }},
        render: {},
      };
      </script>
      <div id="locations-map" class="ws-map w-full h-screen" data-options="locationsMapOptions"></div>
    </div>
  {% endif %}

{% endblock %}
