{% extends "page.twig" %}

{% block page_content %}
  {% embed "partials/section.twig" %}
    {% set section_classes = "bg-orange text-white overflow-auto h-100 pb-5" %}
    {% set section_extra_classes = "max-w-lg" %}
    {% block extra %}

        {% for item in post.get_field('statistics') %}
            <div class="statistics-row w-1/2 m-0 float-left text-center">
                <p class="centered h2 text-5xl text-bold">
                    {{ item.statistic_quantity }}
                </p>
                <p class="centered uppercase text-xs">
                    {{ item.statistic_label }}
                </p>
            </div>
        {% endfor %}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block text %}
      {{ post.content }}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Mission Statement
    {% endblock %}

    {% block text %}
      {{ post.get_field("mission_statement_text") }}
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Frequently Asked Questions
    {% endblock %}

    {% block text %}
      <dl class="mb-4">
        {% for item in faq_page.get_field('questions_questions')|slice(0, 3) %}
          <dt class="font-bold">{{ item.question }}</dt>
          <dd class="mb-3">{{ item.answer }}</dd>
        {% endfor %}
      </dl>

      <a
        class="Block Block--light"
        href="{{ site.link }}/frequently-asked-questions/">
        Read more frequently asked questions
      </a>
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      The Initiative’s History
    {% endblock %}

    {% block text %}
      <div class="mb-4">{{ post.get_field("the_intiatives_history") }}</div>

      <blockquote class="text-2xl leading-tight text-teal">
        “{{ post.get_field("mayors_quotation") }}”
      </blockquote>
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Our Partners
    {% endblock %}

    {% block text %}
      <ul class="mb-4 list-reset">
        {% for partner in post.get_field("partners") %}
          <li>
            <a
              href="{{ partner.partner_url }}"
              target="_blank"
              rel="noopener">
              {{ partner.partner_name }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <a class="Block Block--light" href="{{ site.link }}/partner/">
        Learn about partnership opportunities
      </a>
    {% endblock %}
  {% endembed %}
{% endblock %}
