{% extends "single.twig" %}

{% block hero %}
  {% set location_address = post.get_field("location_address") %}

  {% set tools_text = post.get_field("tools")|length ~ " tool" %}
  {% if post.get_field("tools")|length != 1 %}
    {% set tools_text = tools_text ~ "s" %}
  {% endif %}

  {% set deduped_events = [] %}
  {% for event in post.get_field("events") %}
    {% if event.id not in deduped_events %}
      {% set deduped_events = deduped_events|merge([event]) %}
    {% endif %}
  {% endfor %}

  {% set upcoming_events = [] %}
  {% for event in deduped_events %}
    {% if event.event_end|date("d/m/Y") >= "now"|date("d/m/Y") %}
      {% set upcoming_events = upcoming_events|merge([event]) %}
    {% endif %}
  {% endfor %}
  {% set events_text = upcoming_events|length ~ " upcoming event" %}
  {% if upcoming_events|length != 1%}
    {% set events_text = events_text ~ "s" %}
  {% endif %}
  {% if upcoming_events|length == 0 %}
    {% set events_text = "No upcoming events" %}
  {% endif %}

  {% include "partials/single-hero.twig" with {
    subtitle: location_address.address,
    primary_pictogram: "(",
    primary_text: tools_text,
    secondary_pictogram: "{",
    secondary_text: events_text
  } %}
{% endblock %}

{% block single_content %}
  {% embed "partials/section.twig" %}
    {% block extra %}
      <div class="flex flex-wrap">
        {# COLUMN ONE #}
        <div class="md:mr-6">
          {# OPEN HOURS #}
          <section>
            {% include "components/subheadline.twig" with {
              text: "Open Hours"
            } only %}

            <ul class="mt-3 list-reset">
              {% for item in post.get_field("hours") %}
                <li class="flex small-caps">
                  <span class="w-6 mr-3 font-bold">{{ item.day }}</span>
                  <span>{{ item.opening_time }} – {{ item.closing_time }}</span>
                </li>
              {% endfor %}
            </ul>
          </section>

          {# CONTACT #}
          <section class="mt-4">
            {% include "components/subheadline.twig" with {
              text: "Contact"
            } only %}

            <div class="mt-3">
              {% if post.get_field("fab_newport_staff_contact_type") == "write-in" %}
                {% set contact = {
                  name: post.get_field("fab_newport_staff_contact_name"),
                  email_address: post.get_field("fab_newport_staff_contact_email"),
                  phone_number: post.get_field("fab_newport_staff_contact_phone_number")
                } %}
              {% elseif post.get_field("fab_newport_staff_contact_type") == "from-site" %}
                {% set contact_post = post.get_field("fab_newport_staff_contact")[0] %}
                {% set contact = {
                  name: contact_post.post_title,
                  email_address: contact_post.email_address,
                  phone_number: contact_post.phone_number
                } %}
              {% endif %}

              <div class="font-bold">{{ contact.name }}</div>

              {% if contact.email_address %}
                <a href="mailto: {{ contact.email_address }}">
                  {{ contact.email_address }}
                </a>
              {% endif %}

              {% if contact.phone_number %}
                <div>{{ contact.phone_number }}</div>
              {% endif %}
            </div>

            <div class="mt-3">
              {% if post.get_field("library_staff_contact_type") == "write-in" %}
                {% set contact = {
                  name: post.get_field("library_staff_contact_name"),
                  email_address: post.get_field("library_staff_contact_email"),
                  phone_number: post.get_field("library_staff_contact_phone_number")
                } %}
              {% elseif post.get_field("library_staff_contact_type") == "from-site" %}
                {% set contact_post = post.get_field("library_staff_contact")[0] %}
                {% set contact = {
                  name: contact_post.post_title,
                  email_address: contact_post.email_address,
                  phone_number: contact_post.phone_number
                } %}
              {% endif %}

              <div class="font-bold">{{ contact.name }}</div>

              {% if contact.email_address %}
                <a href="mailto: {{ contact.email_address }}">
                  {{ contact.email_address }}
                </a>
              {% endif %}

              {% if contact.phone_number %}
                <div>{{ contact.phone_number }}</div>
              {% endif %}
            </div>
          </section>
        </div>

        {# COLUMN TWO #}
        <div class="mt-5 md:flex-1 md:mt-0 text-lg">
          {% include "components/measure.twig" with {
            text: post.get_field("location_description")
          } only %}
        </div>
      </div>
    {% endblock %}
  {% endembed %}

  {% embed "partials/section.twig" %}
    {% block title %}
      Tools at This Location
    {% endblock %}

    {% block extra %}
      {% include "partials/list-of-tools.twig" %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block single_fullwidth_content %}
  {% include "partials/calendar.twig" %}

  {% if map_options and map_options.data %}
    <div class="map-container">
      <script>
      var locationMapOptions = {
        map: {
          zoomControl: false,
        },
        data: {{ map_options.data|json_encode() }},
        render: { center: {{ map_options.data.marker.position|json_encode() }}, zoom: 17 },
      };
      locationMapOptions.data.marker.popup.openOnInitialization = true;
      </script>
      <div id="location-map" class="ws-map w-full h-screen ws-map-static" data-options="locationMapOptions"></div>
    </div>
  {% endif %}

{% endblock %}
